* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.header {
    display: inline-block;
    background-color: #cc8e13;
    width: 100%;
    margin: 1px;
}

.header ul {
    list-style: none;
    text-align: right;
}

.header li, .header li a {
    text-decoration: none;
    display: inline;
    margin: 2px;
}

.form{
    background-color: #6a63ef;
    border-style: dotted;
    border-radius: 8px;
    border-color: #130d83;
}

.form a img:hover {
    transform: scale(0.9);
    transition: all 300ms;
}

.footer {
    background-color: #fff;
    border-style: solid;
    border-color: #cc8e13;
    border-radius: 10px;
    text-align: center;
    height: 40px;
}

/* Cambia letra de los dias de los horarios*/
.dias th, .titulo {
    font-weight: bold;
    font-size: 24px;
}
/* Cambia la letra de las horas de los horarios */
.horas {
    font-style: italic;
    font-size: 18px;
}
/* las medidas para el size fueron tomadas del cuadro brindado en el pdf */
/* Cambia los colores de los dias y horarios */
.lun {
    color: blue;
}
.mar {
    color: red;
}
.mie {
    color: blueviolet;
}
.jue {
    color: green;
}
.vie {
    color: saddlebrown;
}